@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap");
@import "variables";
@import "mixins";

#app {
  font-family: "Roboto", sans-serif;
  font-size: 7rem;
}

#configurations {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 0;
  padding: 2rem;

  display: grid;
  grid-column: auto;

  border: 2px solid $unabledLight;
  border-radius: 4px;

  background-color: $lightColor;

  > * {
    margin: 0.5rem;
  }
}

.hidden {
  display: none !important;
}
