@mixin SmallButton($color) {
  font-size: 2rem;
  border: 1px solid $color;
  background-color: transparent;
  border-radius: 3px;
  color: $color;
}

@mixin BigButton($color) {
  font-size: 5rem;
  border: 1px solid $color;
  background-color: transparent;
  border-radius: 3px;
  color: $color;
}
